body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #eee;
}

.panel {
  background: #222;
  padding: 15px;
  margin: 10px 0;
  border-left: 5px solid #00bcd4;
}

.ok {
  color: #4caf50;
}
.warn {
  color: #ff9800;
}
.alarm {
  color: #f44336;
}

h1,
h2 {
  color: #00bcd4;
}
