body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

h1 {
  color: #38bdf8;
}

.card {
  background: #020617;
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
}

.on {
  color: #22c55e;
  font-weight: bold;
}

.off {
  color: #ef4444;
  font-weight: bold;
}
